.play-item {
  width: 200px;
  height: 50px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.play-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 22px;
  overflow: hidden;
  color: black;
  background: white;
  z-index: 2;
}

.play-light:hover {
  background-color: #d3baba;
    transition: background-color 0.3s ease;
}

.play-light span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  gap: 10px;
}
